@import "tailwindcss";
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";

@source "../../node_modules/flowbite";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Poppins", sans-serif;

    --color-primary: #5932ea;
    --color-secondary: #f8c301;

    --color-muted: #9197b3;

    --color-muted: #9197b3;

    --color-lavender: #c1c1ff;
    --color-lavender-light: #e8e8ff;

    --breakpoint-xs: 480px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}

html {
    @apply text-[16px] max-sm:text-[12px];
    scrollbar-width: none;
}

body {
    -ms-overflow-style: none; /* Internet Explorer/Edge */
    scrollbar-width: none; /* Firefox */
    overflow-y: scroll; /* Tetap izinkan scrolling */
}

body::-webkit-scrollbar {
    display: none; /* Safari & Chrome */
}

/* Menghilangkan ikon spinner (panah atas/bawah) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Menghilangkan ikon kalender, waktu, dan list */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator,
input[type="week"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Menghilangkan ikon pencarian (search) */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input {
    -webkit-appearance: none;
    appearance: none;
}
